:root{
    --no-padding: 0;
    --no-margin: 0;
    --secondary-color: #F9FAFB;
    --primary-color: #1E1E1C;
}

body{
    height: 100vh;
    background-color: var(--secondary-color);
}

.ecom-navigation-container{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 0 1rem;
}

.ecom-nav-logo{
    font-family: var(--stylish-font);
    margin: var(--no-margin);
    font-size: 2rem;
    color: var(--secondary-color);
}

.ecom-nav-links{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.fa-cart-shopping, .fa-heart{
    color: var(--secondary-color);
    font-size: 1.3rem;
}

.ecom-nav-links>a{
    color: var(--secondary-color);
}

.footer{
    background-color: var(--primary-color);
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 4rem;
}

.footer a{
    color: var(--secondary-color);
}