body{
    background-image: url("pics/home-page-image.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.tagline{
    font-weight: 700;
    font-size: 1rem;
}

.tagline>div{
    font-size: 3rem;
}

@media screen and (min-width: 647px){
    .tagline>div{
        font-size: 8rem;
        width: 5rem;
        height: auto;
    }
}
