


.home{
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-image: url("/pics/home-page-image.jpg");
}

.ecom-tagline{
    font-weight: 700;
    font-size: 3rem;
    margin: auto;
    margin-top: 7rem;
}

@media screen and (max-width: 734px){
    .ecom-tagline{
        font-weight: 700;
        font-size: 3rem;
        margin: auto;
    }
}