body{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.ecom-horizontal-card{
    max-height: 35vh;
    width: 60vw;
    display: flex;
    box-shadow: 5px 5px 10px grey;    
    justify-content: space-around;
    align-self: center;
}

.wishlist-product-image{
    height: 80%;
    align-self: center;
    object-fit: cover;
}

.ecom-wishlist-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
}

/* If we don't give margin-left and reduce width, the text is touching the image  */

.ecom-horizontal-card-text{
    word-wrap: break-word;
    overflow: auto;
    margin-left: 1rem;
}

.button-contained{
    background-color: var(--primary-color);
}

.font-size-xl{
    align-self: center;
}

